.Flex {
	display: flex;
}

.Flex--center {
	align-items: center;
	justify-content: center;	
}

.Flex-1 {
	flex: 1;
}

.Column-4 {
	flex: 0.3333;
}

.Column-6 {
	flex: 0.5;
}

.Flex--column {
	flex-direction: column;
}

.Flex--end {
	align-items: flex-end;
	justify-content: flex-end;
}

.Flex--wrap {
	flex-wrap: wrap;
}

.Flex--center-to-end {
	align-items: center;
	justify-content: flex-end;
}

.Space-between {
	justify-content: space-between;
}