@mixin mobileStyles()
{
	.Flex {
		flex-direction: column;
	}

	.Column-6 {
		flex: 1;
	}

	.Hero__content {
	    padding: 0px 20px;
	}

	.logo--container {
		padding: 20px;
	}

	.Clients__carousel .owl-item {
		margin: 0;
	}

	.Services {
		.Service {
			width: 100%;
			margin: 10px 0px;
			background-size: cover;
		}
	}

	.navbar-collapse {
		border: 0;
		background: #c4522b;
	}

	.navbar-default {
		.navbar-toggle {
			margin-top: 30px;
			&:hover, &:focus {
				background-color: transparent !important;
			}
			.icon-bar {
				background-color: white;
			}
		}
	}
}
/* Small only */
@media screen and (max-width: 39.9375em) {
	@include mobileStyles();
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}